<!DOCTYPE html>

<head>
    <title>mainpage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color:#050514;
    }
      .list-group-item{
      height:30px;padding:5px 15px;width:300px;
    }
    .dxx{
        margin-top:60px;
        
    }
    .list-group-item{
        margin-left:70px;
        color:black;
        text:bold;
    }
    .rdd{
        margin-top:-290px;
        margin-left:499px;
        color:#b3b3b3;
    }
</style>

<body>
    <nav class="navbar navbar-light bg-light">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}"> {% csrf_token %}
                <button class="btn btn-danger"  style="color:white;margin-left:-510px;margin-top:-15px;"> <span class="glyphicon glyphicon-remove-circle"></span></button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000">
                    <p style="font-size:18px;color:#595959;margin-left:-340px;">                    WeatherMan</p>
                </a>
            </li>
        </ul>

    </nav>
    <div class="container">
        <form action="{% url 'search' %}" method="post" style="margin-left:0px;margin-top:200px;">{% csrf_token %}

            <div class="input-group mb-3" style="">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button></div> <input type="text" name="city" class="form-control" placeholder="Search Cities, States, Location etc">



            </div>
        </form>
        <ul class="list-group">
  <li class="list-group-item dxx"><b>DATA FETCHED</b></li>
  <br><br>

  <b>
   <li class="list-group-item list-group-item-primary">  <span class="glyphicon glyphicon-record"></span> LATTITUDE  {{ lat }}</li>
    <li class="list-group-item list-group-item-primary">  <span class="glyphicon glyphicon-record"></span> LONGTITUDE {{ lon }}</li>
  <li class="list-group-item list-group-item-primary"><span class="glyphicon glyphicon-dashboard"></span> CONDITION  {{ condition }}</li>
  <li class="list-group-item list-group-item-primary"> <span class="glyphicon glyphicon-tint"></span> HUMIDITY {{ humidity }}</li>
  <li class="list-group-item list-group-item-primary"> <span class="glyphicon glyphicon-minus-sign"></span> MINIMUM TEMPRATURE  {{ mintemp }} </li>
  <li class="list-group-item list-group-item-primary"> <span class="glyphicon glyphicon-plus-sign"></span> MAXIMUM TEMPRATURE  {{ maxtemp }}</li>
  </b>

</ul>
 <div class="columns rdd" >
            <div class="column is-offset-4 is-4">
                <div class="box" style="margin-top:80px;">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50" style="margin-top:160px;">
                                <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title" style="font-size:100px;">{{ city }},{{ country }}</span>
                                    <br>
                                    <span class="subtitle" style="font-size:30px;">{{ temp }}</span>
                                    <br> {{ condition }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</body>

</html>