<!DOCTYPE html>

<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: black;
    }
</style>

<body>
    <div class="wrapper" style="margin-top:260px;margin-left:680px;">
        <h3 style="color: white;"> Please Register!</h3><br>
        <form name="myform" method="post" action="{% url 'contact' %}">{% csrf_token %} 
        
        <input type="text" name="user" placeholder="Username!" required>
        <br><br>
         <input type="password" name="passer" placeholder="Password!" required>
         <br><br>
        <input type="password" name="confpasser" placeholder="Confirm Password!" required>
        <br><br>
         <input type="email" name="email" placeholder="email!" required>
         <br><br>
        <button class="btn btn-danger " type="submit">Register</button> 
        </form>
    </div>
</body>

</html>